{{#if guests.length}}
<div> 
    <table class="table is-striped mt-6 mx-auto has-text-centered">
        <thead class="is-size-3">
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Address
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    RSVP'D
                </th>
                <th>
                    Food Choice
                </th>
                <th>
                    Edit/Delete
                </th>

            </tr>
        </thead>
        <tbody>
            {{#each guests}}
            <tr>
                <td>
                   {{first_name}}
                   {{last_name}} 
                </td>
                <td>
                    {{street}}
                    {{city}} 
                    {{state}} 
                    {{zipcode}}
                </td>
                <td>
                    {{phone_number}}
                </td>
                <td>
                    {{email}}
                </td>
                <td>
                    {{rsvp}}
                </td>
                <td>
                    {{food.food}}
                </td>
                <td>
                    <i class="fa fa-pencil is-size-3 pr-5" aria-hidden="true"></i>
              <i class="fa fa-trash is-size-3" aria-hidden="true"></i>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{else}}
<div>
    <p class="has-text-centered is-size-2">
        No guests to display! <br>
        Click the "Add Guest" to get started!
    </p>
</div>

       <!--editGuest modal start -->
    <div id="modal-editGuest" calss="modal">
        <div id="modal-background-editGuest" class="modal-background"></div>

        <div class="modal-content">
          <div class="box">
            <h1 class="title">Edit Guest</h1>
            <!--bulma editguest form -->
            <form id="edit-guest">
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input
                            id="firstname-edit"
                            class="input"
                            type="text"
                            placeholder="First Name"/>
                    <span class="icon is-small  is-left">
                        <i class="fas fa-regular fa-user"></i>
                    </span>    
                    </p> 
                </div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                        <input
                            id="lastname-edit"
                            class="input"
                            type="text"
                            placeholder="Last Name"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-regular fa-user"></i>
                    </span>
                    </p>
                </div>
                <div class="field">
                    <p>
                        <input
                            id="email-edit"
                            class="input"
                            type="email"
                            placeholder="Email"
                        />
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <p>
                        <input
                        id="address-edit"
                        class="input"
                        type="address"
                        placeholder="Address"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-regular fa-user"></i>
                    </span>
                    </p>
                </div>
            </form>
          </div>
        </div>
    </div>
{{/if}}